Training_Bootcamp/Student_1.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="Student">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Name" type="NameType"/>
        <xs:element name="Age" type="AgeType"/>
        <xs:element name="Gender" type="GenderType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="NameType">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="AgeType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="5"/>
      <xs:maxInclusive value="25"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="GenderType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Male"/>
      <xs:enumeration value="Female"/>
      <xs:enumeration value="Other"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
